.debug{
    border: 2px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
    height:10000px;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* header  */
nav{
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 20;
}
/* logo  */
.logo{
    width: 8%;
    text-align: center;
}
.logo img{
   width: 100%;
   object-fit: cover;
    vertical-align: middle;
}
/* barra di navigazione */
nav ul{
    width: 42%;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
   
}
nav ul li a{
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 24.5px;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
}
ul.logo-side{
    text-align: left;
}
ul.button-side{
    text-align: right;
}

/* bottone navigazione */
#inizia{
    width: 5%;
    text-decoration: none;
    vertical-align: middle;
    text-align: right;
}
.button{
    text-decoration: none;
    padding: 5px 18px;
    background-color:#0160FF;
    font-size: 14px;
    color: white;
    display: inline;
    vertical-align: middle;
    font-size: 12px;
}
 /* jumbotron  */
.jumbotron{
    margin-top:4%;
    background-color: #B3CFE7;;
}
/* titolo jumbo  */
.jumbotron .title{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.jumbotron .title h1{
    font-size: 61px;
    padding: 10px;
}
/* box jumbo  */
.jumbo-box{
    width: 80%;
    margin: 0 auto;
}

/* testo jumbo */
.text-box{
    width: 30%;
    vertical-align: middle;
    position: relative;
    bottom:-80px;
}
.text-box p{
    text-align: left;
    font-size: 12px;
}
.text-box .button{
    display: block;
    margin: 30px 0 10px;
    width:60%;
}
.text-box #arrow{
    font-size: 80px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
/* img jumbo  */
.img-box{
    width: 70%;
    vertical-align: middle;
    position: relative;
    bottom:-80px;
}
.img-box img{
    width: 100%;
    object-fit: cover;
}


/* 

colore bottoni:#0160FF;
colore designit:#A2D49B;
colore arizona e testo porta dropbox business:#61082B;
colore florida:#0093CE;
colore topps:#FF1B1C;
colore world bicycle:#D5001F;
colore hearts corporation e sfondo div azzurro:#B3CFE7;
colore lonely planet:#0D2481;
colore clear channel:#FFD72F;
colore floater centrale:#F5F5F5; */

