.debug{
    border: 2px solid black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
html{
    scroll-behavior: smooth;
}
body{
  
    font-family: 'Open Sans', sans-serif;
    height:10000px;
}
.left{
    float: left;
}
.right{
    float: right;
}

/* header  */
nav{
    width: 100%;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 20;
}
/* logo  */
.logo{
    width: 8%;
    text-align: center;
}
.logo img{
   width: 100%;
   object-fit: cover;
    vertical-align: middle;
}
/* barra di navigazione */
nav ul{
    width: 42%;
    list-style-type: none;
    
}
nav ul li{
    display: inline-block;
   
}
nav ul li a{
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 12px;
    padding: 24.5px;
}
nav ul li a:hover{
    border-bottom: 1px solid black;
}
ul.logo-side{
    text-align: left;
}
ul.button-side{
    text-align: right;
}

/* bottone navigazione */
#inizia{
    width: 5%;
    text-decoration: none;
    vertical-align: middle;
    text-align: right;
}
.button{
    text-decoration: none;
    padding: 5px 18px;
    background-color:#0160FF;
    color: white;
    display: block;
    vertical-align: middle;
    font-size: 12px;
}
 /* jumbotron  */
.jumbotron{
    margin-top:4%;
    background-color: #B3CFE7;;
}
/* titolo jumbo  */
.jumbotron .title{
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}
.jumbotron .title h1{
    font-size: 61px;
    padding: 10px;
}
/* box jumbo  */
.jumbo-box{
    width: 80%;
    margin: 0 auto;
}

/* testo jumbo */
.text-box{
    width: 30%;
    vertical-align: middle;
    position: relative;
    bottom:-80px;
    padding-left: 30px;
}
.text-box p{
    text-align: left;
    font-size: 12px;
}
.text-box .button{
    display: block;
    margin: 30px 0 10px;
    width:200px;
}
.text-box #arrow{
    font-size: 80px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
/* img jumbo  */
.img-box{
    width: 70%;
    vertical-align: middle;
    position: relative;
    bottom:-80px;
}
.img-box img{
    width: 100%;
    object-fit: cover;
}


/* main  */

/* dropbox plan  */
.dropbox-plan{
    width: 60%;
    margin: 15% auto 5%;
}
.dropbox-plan h2{
    font-size: 30px;
}
.mensile::before{
    content:'';
    width: 10px;
    height: 10px;
    border: 4px solid #0160FF;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
}
.annuale::before{
    content:'';
    width: 13px;
    height: 13px;
    border: 1px solid grey;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3px;
}

.fatturazione{
    display: inline-block;
    padding: 50px 20px 30px 0px;
    vertical-align: middle;
    font-size: 12px;
}

/* contenitore scelta  */
.dropbox-plan .center{
margin: 0 5%;
}
.choice-container{
    width: 30%;
    border: 1px solid lightgrey;
    vertical-align: middle;
}
.choice-container,span{
    display: block;
}

.list-table{
    width: 90%;
    margin: 20% auto;
   
}
.choice-name{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.choice-title{
    font-size: 25px;
    font-weight: bolder;
}

.choice-price{
    font-size: 17px;
    font-weight: 600;
}

.durata{
    font-size: 12px;
    color: grey;
}
.choice-list{
    margin: 20% 0;
    list-style-type: none;

}
.choice-list li{
    margin-top: 6%;
    font-size: 12px;
}
.buy-now{
    display: inline block;
    font-size: 12px;
    margin: 15% 0;
    
}
.buy-now a{
    color:#0160FF;
}
hr{
    width: 20%;
}
.choice-list .fa-check{
    color:#0160FF;
}

/* teamsection  */
.team{
    width: 60%;
    margin: 0 auto;
    border: 1px solid lightgrey;
}
.team-name{
    width:100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    font-size: 14px;
}
.enterprise{
    padding: 10px 20px;
}
.team-title{
    font-size: 25px;
    font-weight: bolder;
    padding: 1% 0;
}
.team-suggest{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3%;

}
.team-solutions{
    font-size: 12px;
}

.enterprise .button{
    vertical-align: middle;
    margin: 15px;
}

/* foto e descrizione */
.photo-box{
    width: 60%;
    margin: 5% auto;
}
.photo-box .photo{
    width: 50%;
}
.photo img{
    width: 100%;
    object-fit: contain;
}
.photo-box .description{
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
  
}
.photo-box .description span{
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 5%;
}
.photo-box .description p{
    font-size: 12px;
    padding-bottom: 10%;
}
#photo-button{
    background-color: white;
    text-decoration: none;
    border: 1px solid grey;
    color: black;
    padding: 5px 18px;
    display: block;
    font-size: 14px;
}

/* 

colore bottoni:#0160FF;
colore designit:#A2D49B;
colore arizona e testo porta dropbox business:#61082B;
colore florida:#0093CE;
colore topps:#FF1B1C;
colore world bicycle:#D5001F;
colore hearts corporation e sfondo div azzurro:#B3CFE7;
colore lonely planet:#0D2481;
colore clear channel:#FFD72F;
colore floater centrale:#F5F5F5; */

